*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* //navbar css */

.navbar{
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0px 8px 6px -6px gray;
  --webkit-box-shadow: 0px 8px 6px -6px gray;
  border-bottom: solid gray !important;
  background-color: #559B69 !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

/* //Footer */

.footer {
  color: white;
  padding: 25px;
  background-color: #559B69 !important;
}

.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover{
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/* //Page not found */

.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title{
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading{
  font-weight: normal;
}

.pnf-btn{
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

/* //Formularios */

.card-form {
  width: 1000px;
  max-width: 400px; /* Ajusta el ancho según tus preferencias */
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login,
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}

.login h1,
.register h1 {
  text-align: center;
  justify-content: center;
}

.login form,
.register form {
  display: flex;
  flex-direction: column;
  border-radius: 4px solid #ccc; /* Ajusta este estilo según tus preferencias */
}

.login label,
.register label {
  margin-bottom: 8px;
}

.login input,
.register input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login button,
.register button {
  padding: 10px;
  background-color: #559B69;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login button:hover,
.register button:hover {
  background-color: #FFD65C;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.mt-3 {
  margin-top: 5rem;
}
